name: CI-CD Railway

on:
  push:
    branches:
      - main
      - qa

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  # ==========================================================
  # 1) TESTS FRONTEND (Vitest)
  # ==========================================================
  frontend-tests:
    name: Pruebas Frontend (Vitest)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install & Test Frontend
        working-directory: frontend
        run: |
          npm ci
          npx vitest run --coverage --reporter=junit --outputFile test-results.xml

      - name: Publicar tests Frontend (JUnit)
        uses: actions/upload-artifact@v4
        with:
          name: frontend-tests
          path: frontend/test-results.xml

      - name: Subir coverage Frontend
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: frontend/coverage

  # ==========================================================
  # 2) TESTS BACKEND (Go)
  # ==========================================================
  backend-tests:
    name: Pruebas Backend (Go)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Instalar herramientas reporte
        working-directory: backend
        run: |
          go install github.com/jstemmer/go-junit-report@latest
          go install github.com/boumenot/gocover-cobertura@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      # ******* PASO CON FIX: si falla go test, falla el job *******
      - name: Run go test con coverage
        working-directory: backend
        run: |
          set -o pipefail

          PKGS="$(go list ./... \
              | grep -v -E 'backend/tests/mocks|backend/testutil' \
              | tr '\n' ' ')"
          COVERPKG="$(echo "$PKGS" | tr ' ' ',' )"

          echo "PKGS=$PKGS"
          echo "COVERPKG=$COVERPKG"

          go test -v -covermode=atomic -coverpkg="$COVERPKG" $PKGS -coverprofile=coverage.out | tee test.out
          TEST_EXIT=${PIPESTATUS[0]}

          cat test.out | go-junit-report > junit-backend.xml

          if [ "$TEST_EXIT" -eq 0 ]; then
            gocover-cobertura < coverage.out > cobertura.xml
            go tool cover -html=coverage.out -o coverage.html
          else
            echo "Tests fallaron, se omite generación de cobertura."
          fi

          exit $TEST_EXIT
      # ********************************************************

      - name: Subir tests Backend (JUnit)
        uses: actions/upload-artifact@v4
        with:
          name: backend-tests
          path: backend/junit-backend.xml

      - name: Subir coverage Backend
        uses: actions/upload-artifact@v4
        with:
          name: backend-coverage
          path: |
            backend/cobertura.xml
            backend/coverage.out
            backend/coverage.html

  # ==========================================================
  # 3) SONARCLOUD (depende de tests front + back)
  # ==========================================================
  sonarcloud:
    name: SonarCloud (Frontend + Backend)
    needs: [frontend-tests, backend-tests]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Backend
      - name: SonarCloud Backend
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=vicent301_ING-SW3
            -Dsonar.organization=vicent301
            -Dsonar.projectBaseDir=backend
            -Dsonar.sources=.
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.inclusions=**/*.go
            -Dsonar.exclusions=**/Dockerfile
            -Dsonar.host.url=https://sonarcloud.io

      # Frontend
      - name: SonarCloud Frontend
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=vicent301_ING-SW3
            -Dsonar.organization=vicent301
            -Dsonar.projectBaseDir=frontend
            -Dsonar.sources=src
            -Dsonar.tests=src
            -Dsonar.test.inclusions=**/*.test.ts,**/*.test.tsx,**/*.test.js,**/*.test.jsx,**/__tests__/**
            -Dsonar.exclusions=node_modules/**,dist/**,build/**,../backend/**,**/Dockerfile
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.host.url=https://sonarcloud.io

  # ======================================================
  # 4) BUILD (QA) + DEPLOY QA A RAILWAY
  # ======================================================
  docker-build-deploy-qa:
    name: Build imágenes QA + Push Docker Hub + Deploy QA
    needs: sonarcloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

       # Login a Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Backend - build con tags de Docker Hub
      - name: Build imagen Backend QA
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/appweb-cont-back:latest \
            -f backend/Dockerfile \
            backend

      - name: Push imagen Backend a Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/appweb-cont-back:latest

      # Frontend - build con tags de Docker Hub
      - name: Build imagen Frontend QA
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/appweb-cont-front:latest \
            -f frontend/Dockerfile \
            frontend

      - name: Push imagen Frontend a Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/appweb-cont-front:latest

      # --- Deploy QA a Railway (queda igual) ---
      - name: Install Railway CLI
        run: npm i -g @railway/cli

      - name: Deploy Backend QA to Railway
        run: railway up --service backend-qa --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy Frontend QA to Railway
        run: railway up --service frontend-qa --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}


  # ======================================================
  # 5) E2E CYPRESS CONTRA QA
  # ======================================================
  e2e-qa:
    name: Cypress E2E QA
    needs: docker-build-deploy-qa
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Esperar a que QA levante
        run: sleep 5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps + Cypress
        working-directory: frontend
        run: |
          npm ci
          npx cypress verify

      - name: Run Cypress contra QA
        working-directory: frontend
        run: |
          BASE_URL="https://frontend-qa-production-d3a6.up.railway.app"
          mkdir -p cypress/results
          npx cypress run \
            --spec "cypress/e2e/*.cy.js" \
            --reporter junit \
            --reporter-options "mochaFile=cypress/results/junit-[hash].xml,toConsole=true" \
            --config baseUrl=$BASE_URL

      - name: Subir resultados E2E
        uses: actions/upload-artifact@v4
        with:
          name: cypress-results-qa
          path: frontend/cypress/results

  # ======================================================
  # 6) DEPLOY PROD A RAILWAY (MISMA VERSIÓN DE CÓDIGO/IMAGEN)
  # ======================================================
  deploy-prod:
    name: Deploy PROD Railway
    needs: e2e-qa
    runs-on: ubuntu-latest
    environment:
      name: PROD
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm i -g @railway/cli

      - name: Deploy Backend PROD to Railway
        run: railway up --service backend-prod --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy Frontend PROD to Railway
        run: railway up --service frontend-prod --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
